<div class="faq-section">
    <h2>FAQs</h2>
    <div class="faq-item">
      <div class="faq-question">
        <span>Where can I watch?</span>
        <span class="icon">+</span>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question">
        <span>Where can I watch?</span>
        <span class="icon">+</span>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question">
        <span>Where can I watch?</span>
        <span class="icon">+</span>
      </div>
    </div>
  </div>
  <app-rating></app-rating>