<div class="col-sm-4 p-3 profile-container">
    <i class="fa-solid fa-user fa-xl" style="color: #012B49; cursor: pointer;"></i>
    <div class="dropdown">
        <ul class="list">
            <li>
                <div style="display: flex; align-items: center; gap: 10px;">
                    <i class="fa-solid fa-user fa-xl"></i>
                    <div>
                        <div style="font-weight: bold;">Mobina Charles</div>
                        <div style="color: gray; font-size: 14px;">Mobina12gmail.com</div>
                    </div>
                </div>
            </li>
            <hr>
            <li>
                <i class="fa-solid fa-user-tie"></i> Customer Support 24*7
            </li>
            <li>
                <i class="fa-solid fa-business-time"></i> Become a Seller
            </li>
            <li>
                <i class="fa-solid fa-list"></i> Your Orders
            </li>
            <li>
                <i class="fa-solid fa-right-from-bracket"></i> Logout
            </li>
        </ul>
    </div>
</div>