.footer {
    background-color: #022c43;
    color: white;
    padding: 40px 20px;
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
  }
  
  .footer-section h3,
  .footer-section h4 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .footer-section p {
    margin: 6px 0;
    font-size: 14px;
  }
  
  .subscribe-box {
    display: flex;
    margin-top: 10px;
  }
  
  .subscribe-box input {
    padding: 8px;
    border-color:   white; 
    outline: none;
    width: 150px;
    background-color:#022c43 ;
  }
  
  .subscribe-box button {
    background-color:#022c43 ;
    color: white;
    border-color:   white; 
    cursor: pointer;
    padding: 0 10px;
  }
  
  .app-store-icons {
    margin: 10px 0;
  }
  
  .app-store-icons img {
    margin-right: 10px;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .social-icons i {
    font-size: 20px;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      gap: 30px;
    }
  
    .footer-section {
      flex: 1 1 100%;
    }
  
    .subscribe-box input {
      width: 70%;
    }
  
    .subscribe-box button {
      width: 30%;
    }
  
    .app-store-icons img {
      width: 80px;
    }
  }
  
  @media (max-width: 480px) {
    .footer {
      padding: 30px 15px;
    }
  
    .footer-section h3,
    .footer-section h4 {
      font-size: 18px;
    }
  
    .footer-section p {
      font-size: 13px;
    }
  
    .subscribe-box input {
      width: 65%;
      font-size: 13px;
    }
  
    .subscribe-box button {
      width: 35%;
      font-size: 16px;
    }
  
    .social-icons i {
      font-size: 16px;
    }
  }
  